table {
    margin: 20px;
    border: 1px solid gray;
    border-radius: 4px;
}

#select, #table {
    display: none;
}

#empty {
    text-align: center;
}

.table {
    max-width: 100%;
    overflow: scroll;
}

thead {
    text-transform: capitalize;
    background: #4f647f;
    color: #fff;
    cursor: pointer;
    position: relative;
}

thead td {
    position: relative;
}

td {
    padding: 10px 20px;
}

tr:nth-child(even), th:nth-child(even) {
    background: #fafbfd;
}

button {
    border: 0;
    border-radius: 4px;
    background: #4f647f;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#pagination {
    margin: 20px auto;
}
  
#pagination span {
    color: black;
    float: left;
    padding: 8px 12px;
    margin: 10px 0;
    text-decoration: none;
    transition: background-color .3s;
    cursor: pointer;
}
  
#pagination span.active {
    background-color: #4f647f;
    color: white;
    border-radius: 4px;
}

thead td.sortable:before,
thead td.sortable:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
thead td.sortable:before {
	border-bottom-color: #fff;
	margin-top: -9px;
}
thead td.sortable:after {
	border-top-color: #fff;
	margin-top: 1px;
}
